<template>
    <label class="any-field" v-bind:class="{error: error}">
        <span class="any-field__label" v-if="label">{{ label }}</span>
        <input class="any-field__control" v-bind:type="type" v-bind:value="value" v-on:input="$emit('input', $event.target.value)">
    </label>
</template>

<script>
    export default {
        name: "AnyField",
        props: {
            type: String,
            value: String,
            label: String,
            error: Boolean
        },
    }
</script>

<style lang="scss">
    .any-field {
        width: 100%;
        max-width: 300px;
        margin-bottom: 15px;
        display: block;

        &__label {
            display: block;
            margin-bottom: 5px;
            text-align: left;
        }

        &__control {
            border: 1px solid var(--dark-two);
            padding: 10px;
            display: block;
            width: 100%;
        }

        &.error {
            &__label {
                color: var(--red);
            }

            &__control {
                border-color: var(--red);
            }
        }
    }
</style>