<template>
    <div>   
        <div v-show="view === 'login'">
            <Login />
            <a href="#" v-on:click.prevent="view = 'register'">Зарегистрироваться</a>
        </div>
        <div v-show="view === 'register'">
            <Register v-on:registerSuccess="view = 'login'"></Register>
            <a href="#" v-on:click.prevent="view = 'login'">Войти</a>
        </div>
    </div>
</template>

<script>


    import Login from "./Login";
    import Register from "./Register";

    export default {
        name: 'auth',
        components: {
            Register,
            Login
        },
        data: function () {
            return {
                view: 'login'
            }
        },
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated;
            }
        },
        watch: {

        },
        created: function(){

        },
        methods: {
        }
    }
</script>