<template>
    <form v-on:submit.prevent="login">
        <AnyField type="email" v-model="form.email" label="Email" />
        <AnyField type="password" v-model="form.password" label="Пароль" />
        <button type="submit">Войти</button>
    </form>
</template>

<script>
    import {doPostRequest} from "@/helpers/common";

    export default {
        name: "Login",
        data() {
            return {
                form: {
                    email: null,
                    password: null
                },
                errors: {
                    email: false,
                    password: false
                }
            }
        },
        methods: {
            login() {
                if (!this.form.email) {
                    this.errors.email = true;
                    return;
                }
                if (!this.form.password) {
                    this.errors.password = true;
                    return;
                }
                doPostRequest('/login', this.form)
                    .then((response) => {
                        if (response.success) {
                            this.$store.commit('login', response.data.token);
                            this.$router.push({ path: '/' });
                        }
                    })
            }
        }

    }
</script>

<style scoped>

</style>
