<template>
    <div>
        <form v-on:submit.prevent="register()">
            <h3>Зарегистрироваться:</h3>
            <AnyField v-model="form.name" label="Ник" type="text"/>
            <AnyField v-model="form.email" label="Email" type="email" />
            <AnyField v-model="form.password" label="Пасс" type="password" />
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
    </div>
</template>

<script>
    import {doPostRequest} from "../../helpers/common";

    export default {
        name: 'Register',
        components: {
            
        },
        data: function () {
            return {
                form: {
                    email: null,
                    password: null,
                    name: null,
                }
            }
        },
        watch: {

        },
        methods: {
            register: function() {
                doPostRequest('/register', this.form)
                    .then((response) => {
                        if (response.success) {
                            this.$emit('registerSuccess');
                        }
                    })
            }
        }
    }
</script>