<template>
    <div class="login">
        <h1>Login page</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3">
                    <Auth />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from "../components/user/Auth";

    export default {
        name: 'login',
        components: {
            Auth
        },
    }
</script>