<template>
    <div class="profile">
        <h1>Restricted page</h1>
        <p>{{ message }}</p>
    </div>
</template>

<script>
    import {doGetRequest} from "../helpers/common";

    export default {
        name: 'profile',
        data() {
            return {
                message: null
            };
        },
        mounted() {
            doGetRequest('/profile')
                .then((response) => {
                    if (response.success) {
                        this.message = response.data;
                    }
                })
        }
    }
</script>