<template>
    <footer>
        <div class="container">
            Подвалх
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style lang="scss">
    footer {
        margin-top: auto;
        padding: 30px;
    }
</style>