<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="nav">
                        <router-link to="/">Home</router-link> |
                        <router-link to="/about">About</router-link> |
                    </div>
                </div>
                <div class="col-6 justify-content-right">
                    <template v-if="isAuthenticated">
                        <router-link to="/profile">Profile</router-link> |
                        <router-link to="/logout">Logout</router-link>
                    </template>
                    <template v-else>
                        <router-link to="/auth">Auth</router-link>
                    </template>
                </div>
            </div>

        </div>
        <p class="requestProcessing" v-show="requestProcessing">Загрузка..</p>
    </header>
</template>

<script>
    import {doGetRequest} from "../helpers/common";

    export default {
        name: 'Header',
        computed: {
            requestProcessing() {
                return this.$store.state.requestProcessing
            },
            isAuthenticated() {
                return this.$store.getters.isAuthenticated;
            }
        },
        mounted() {
            if (this.isAuthenticated) {
                doGetRequest('/profile/current')
                    .then((response) => {
                        if (response.success) {
                            this.message = response.data;
                        }
                    })
            }
        }
    }
</script>

<style lang="scss">
    header {
        padding: 30px;
        a {
            font-weight: bold;
            color: #2c3e50;
            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
    .requestProcessing {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
</style>
