<template>
    <div id="app">
        <Header />
        <main>
            <router-view/>
        </main>
        <Footer />
    </div>
</template>

<script>
    import Header from "@/components/Header";
    import Footer from "@/components/Footer";
    export default {
        components: {Footer, Header}
    }
</script>

<style lang="scss">

    @import "global";

    body, html {
        padding: 0;
        height: 100%;
        margin: 0;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
</style>
